
 .center {
     text-align: center;
     color: rgb(231, 9, 9);
     
 }
 .center__ {
    text-align: center;
 }
 .center_1 {
    text-align: center;
 }
 
 .center_2 {
    text-align: center;
    color: rgb(178, 5, 201);
 }

 .center_3 {
    text-align: center;
    color: rgb(201, 165, 5);
 }
 .center_4 {
    margin-left: 600px;
    display: inline-block;
     text-align: left;

 }

 

 