.center {
    text-align: center;
    color: rgb(231, 9, 9);
    
}
.center__ {
   text-align: center;
}
.center_1 {
   text-align: center;
}

.center_2 {
   text-align: center;
   color: rgb(178, 5, 201);
}
.class__1 {
    
    color: rgb(160, 132, 9);
 }

 .class__2 {
    
    color: rgb(160, 132, 9);
 }